.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  min-height: 100vh;
}
.profil{
  border-radius: 45% 45% 15% 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}


.presentation{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.presentation p {
  margin-bottom: 5%;
}


.infos {
  display: flex;
  justify-content: space-evenly;
}



@media (max-width: 1120px) {
  .presentation{
    width: 60%;
  }
  .infos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media(max-width: 500px){
  .presentation{
    width: 100%;
  }
}